mixin inbox(img, text, time)
    section.inbox
        img.inbox__avatar(src=img alt='')
        .inbox__sms.sms
            span.sms__text= text
            time.sms__time= time
mixin outbox (text, time)
    section.outbox
        .outbox__sms.sms
            span.sms__text= text
            time.sms__time= time